@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  overflow-x: hidden;
  background: #060e0d;
  color: #060e0d;
}
.container {
  max-width: 95%;
  margin: 30px auto;
}
header > h1 {
  font-weight: 600;
  text-align: center;
  font-size: 36px;
  color: #ebf4f5;
  margin-bottom: 50px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.table-container {
  background: linear-gradient(to right, #ebf4f5, #b5c6e0);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 3px 3px 10px #ebf4f549;
  margin: 30px 20px;
  height: 370px;
  width: 350px;
}
.calendar-cont {
  text-align: center;
  padding: 20px;
}
h3 {
  text-align: center;
  background-color: #b5c6e0;
  padding: 15px;
  border-radius: 20px 20px 0 0;
  color: #060e0d;
  word-spacing: 30px;
}
tr th {
  text-align: center;
  padding: 5px;
  font-weight: 600;
}
th:first-child,
td:first-child {
  color: #f00909;
}
tr td {
  text-align: center;
  font-weight: 600;
  padding: 10px;
}
@media (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .table-container{
      margin: 30px auto;

  }
}
